.banner {
    background: #000;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.title {
    color: #fff;
    font-family: "ByTheWay";
    font-size: 2rem;
    line-height: 1;
}

.title span {
    display: flex;
}

.title strong {
    font-size: 4rem;
    margin-left: 20px;
}

.title div {
    color: #f0d53b;
    margin: 0 5px;
}

.title span:nth-child(1) {
    margin-left: 40px;
}

.title span:nth-child(4) {
    margin-left: 20px;
}

.btn {
    width: 100%;
    max-width: 180px;
    outline: 0;
    border-radius: 4px;
    background: #f0d53b;
    color: #000;
    font-size: 0.9rem;
    padding: 1rem 0.5rem;
    margin: 1rem 0;
    border: none;
    text-align: center;
}

.btn img {
    margin: 0px 0 -2px 5px;
    filter: brightness(0);
    opacity: 0.8;
}

.description {
    font-size: 0.8rem;
    color: #fff;
}

@media (min-width: 780px) {
    .banner {
        background: url("../../public/images/background-banner.jpg") no-repeat
            center #000;
    }

    .content {
        height: 750px;
        padding-left: 50%;
        padding-top: 150px;
        align-items: flex-start;
    }

    .title {
        font-size: 3rem;
    }

    .title strong {
        font-size: 6rem;
    }

    .btn {
        max-width: 300px;
        font-size: 1.1rem;
        cursor: pointer;
        margin-bottom: 2rem;
        border: 1px solid transparent;
    }

    .btn:hover {
        background-color: transparent;
        color: #f0d53b;
        border-color: #f0d53b;
        background-color: #f0ce2314;
    }

    .btn:hover img {
        filter: inherit;
    }

    .description {
        font-size: 1.2rem;
    }
}

@media (min-width: 1438px) {
    .banner {
        background-position: top left;
    }
}
