.alert {
    background-color: #DD4343;
    padding: 1.5rem 0;
}

.alert p {
    margin: 0;
    color: #FFF;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.8;
}

@media(min-width: 780px) {
    .alert {
        padding: 2.5rem 0;
    }

    .alert p {
        text-align: left;
    }
}
